<ion-header>
  <ion-toolbar>
    <ion-title>
      Groceries
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
      <!-- Sliding item with text options on both sides -->
      <ion-item-sliding>
        <ion-item>
          <ion-label side="start"><h2>Milk</h2>
            <br><h3>$2.50</h3>
          </ion-label><br>
        </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="success" onClick="share(item)">
              <ion-icon name="trash"></ion-icon><br>
              Done
            </ion-item-option>
          </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
      <ion-item>
        <ion-label side="start"><h2>Cheese</h2>
          <br><h3>$1.89</h3>
        </ion-label><br>
      </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success" onClick="share(item)">
            <ion-icon name="trash"></ion-icon>
            <br>Done
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

    
    <ion-item-sliding>
      <ion-item>
        <ion-label side="start"><h2>Bread</h2>
          <br><h3>$1.99</h3>
        </ion-label><br>
      </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success" onClick="share(item)">
            <ion-icon name="trash"></ion-icon>
            <br>Done
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label side="start"><h2>Butter</h2>
          <br><h3>$3.89</h3>
        </ion-label><br>
      </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success" onClick="share(item)">
            <ion-icon name="trash"></ion-icon>
            <br>Done
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

    
    <ion-item-sliding>
      <ion-item>
        <ion-label side="start"><h2>Orange Juice</h2>
          <br><h3>$3.89</h3>
        </ion-label><br>
      </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success" onClick="share(item)">
            <ion-icon name="trash"></ion-icon>
            <br>Done
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label side="start"><h2>Eggs</h2>
          <br><h3>$2.89</h3>
        </ion-label><br>
      </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success" onClick="share(item)">
            <ion-icon name="trash"></ion-icon>
            <br>Done
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

  </ion-list>
</ion-content>

